name: Publish Release

on:
  workflow_dispatch:

env:
  # The repo to create a smaller release in
  # `push_env` environment must define $RELEASE_GH_TOKEN
  # with "contents: write" to make a release in this repo
  RELEASE_TARGET_REPO: "aidandenlinger/proj-releases"

jobs:
  build:
    permissions:
      # checkout repo
      contents: read

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      # Simulate uploading admin-, export-, and main- releases
      - uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4
        with:
           name: export-${{ matrix.name }}
           path: source.md

      - uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4
        with:
           name: admin-${{ matrix.name }}
           path: source.md

      - uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4
        with:
           name: main-${{ matrix.name }}
           path: source.md

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      # write release
      contents: write

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0

    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        path: artifacts

    - name: Create Tarballs
      working-directory: artifacts
      run: for d in *; do tar czvf "$d.tgz" "$d"; done

    - name: Publish Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -euo pipefail

        prev_tag=$(gh release view --json tagName --jq '.tagName')
        tag=$(($prev_tag + 1))
        sha=$(git rev-parse HEAD)

        echo "Publishing $prev_tag .. $tag: " artifacts/*tgz
        gh release create "$tag" \
          --target ${sha} \
          --generate-notes \
          --notes-start-tag "$prev_tag" \
          "${gh_args[@]}" \
          artifacts/*tgz

  release-to-env:
    needs: [ release ]
    runs-on: ubuntu-latest

    # This environment should require manual approval
    # the RELEASE_GH_TOKEN secret should only be available in this environment
    # Must have "contents:write" permissions to make a release in $RELEASE_TARGET_REPO
    environment: push-env

    # GH_TOKEN doesn't need any permissions, we're only downloading artifacts
    permissions: {}

    steps:
    # Explicitly download main and export artifacts. Intentionally does not include admin release.
    - name: Download main release
      uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        path: artifacts
        # CODESYNC(main-artifact-name)
        pattern: main-*

    - name: Download export
      uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        path: artifacts
        # CODESYNC(export-artifact-name)
        pattern: export-*

    - name: Create Tarballs
      working-directory: artifacts
      run: for d in *; do tar czvf "$d.tgz" "$d"; done

    - name: Publish Release
      env:
        # operate on $RELEASE_REPO, not this repo
        GH_TOKEN: ${{ secrets.RELEASE_GH_TOKEN }}
      run: |
        set -euo pipefail

        # NOTE: will get the latest release tag, **not** pre-release tag
        prev_tag=$(gh release view --repo "$RELEASE_TARGET_REPO" --json tagName --jq '.tagName')
        tag=$(( $prev_tag + 1))

        echo "Publishing $prev_tag .. $tag to $RELEASE_TARGET_REPO: " artifacts/*tgz
        gh release create "$tag" \
          --repo "$RELEASE_TARGET_REPO" \
          "${gh_args[@]}" \
          artifacts/*tgz

        # Give information to update changelog
        echo "Commits since the last public release:"
        git log "$prev_tag..$tag" --oneline
        echo "${{ github.server_url }}/${{ github.repository }}/compare/$prev_tag..$tag"

