name: Publish Release

on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      # checkout repo
      contents: read

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      # Simulate uploading admin-, export-, and main- releases
      - uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4
        with:
          name: export-${{ matrix.name }}
          path: source.md

      - uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4
        with:
          name: admin-${{ matrix.name }}
          path: source.md

      - uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4
        with:
          name: main-${{ matrix.name }}
          path: source.md

  release:
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      TAG: ${{ steps.tag-set.outputs.TAG }}

    permissions:
      # write release
      contents: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        with:
          path: artifacts

      - name: Create Tarballs
        working-directory: artifacts
        run: for d in *; do tar czvf "$d.tgz" "$d"; done

      - name: Set next tag
        id: tag-set
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -euo pipefail
          prev_tag=$(gh release view --json tagName --jq '.tagName')
          echo "TAG=$(($prev_tag + 2))" | tee -a $GITHUB_OUTPUT

      - name: Publish Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euo pipefail

          tag=${{ steps.tag-set.outputs.TAG }}
          prev_tag=$(gh release view --json tagName --jq '.tagName')
          sha=$(git rev-parse HEAD)

          echo "Publishing $prev_tag .. $tag: " artifacts/*tgz
          gh release create "$tag" \
            --target ${sha} \
            --generate-notes \
            --notes-start-tag "$prev_tag" \
            "${gh_args[@]}" \
            artifacts/*tgz

  release-to-env:
    needs: [release]
    runs-on: ubuntu-latest

    # This environment should require manual approval
    # the RELEASE_GH_TOKEN secret should only be available in this environment
    # Must have "contents:write" permissions to make a release in $RELEASE_TARGET_REPO
    environment: push-env

    env:
      # The repo to create a smaller release in
      # `push_env` environment must define $RELEASE_GH_TOKEN
      # with "contents: write" to make a release in this repo
      RELEASE_TARGET_REPO: "aidandenlinger/proj-releases"

    permissions:
      # Check out this private repo
      contents: read

    steps:
      # We check out so we can provide CHANGELOG information
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      # Explicitly download main and export artifacts. Intentionally does not include admin release.
      - name: Download assets from release
        env:
          GH_TOKEN: ${{ github.token }}
        # CODESYNC(main-artifact-name)
        # CODESYNC(export-artifact-name)
        run: |
          gh release download \
            ${{ needs.release.outputs.TAG }} \
             --pattern 'main-*' --pattern 'export-*' \
             --dir artifacts

      - name: Publish Release
        env:
          # operate on $RELEASE_REPO, not this repo
          GH_TOKEN: ${{ secrets.RELEASE_GH_TOKEN }}
        run: |
          set -euo pipefail

          tag=${{ needs.release.outputs.TAG }}
          prev_tag=$(gh release view --repo "$RELEASE_TARGET_REPO" --json tagName --jq '.tagName')

          # Create a changelog for a developer to edit:
          printf -v changelog_template "THIS IS A DRAFT RELEASE. EDIT THIS CHANGELOG AND RELEASE:\n\
          full diff: ${{ github.server_url }}/${{ github.repository }}/compare/$prev_tag..$tag\n\
          # CHANGELOG $prev_tag..$tag\n\
          ## What's Changed\n\
          ### Project\n\
          $(git log "$prev_tag..$tag" --pretty=format:'- %s')"

          echo "Publishing draft release $prev_tag .. $tag to $RELEASE_TARGET_REPO: " artifacts/*tgz
          gh release create "$tag" \
            --repo "$RELEASE_TARGET_REPO" \
            "${gh_args[@]}" \
            --notes "$changelog_template" \
            --draft \
            artifacts/*tgz

          echo "::notice:: Go to ${{github.server_url}}/$RELEASE_TARGET_REPO/releases to edit the changelog."
